
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --color-primary: #6c9bcf;
  --color-danger: #ff0060;
  --color-success: #1b9c85;
  --color-warning: #f7d060;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-mode-variables {
  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.container {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  background-color: gray;
  padding: var(--card-padding);
  /* border-radius: var(--card-border-radius); */
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  /* max-height: 100%; */
  width: 3100px;
  height: 770px;
  color: var(--color-dark);
}

.button-container {
  text-align: left;
}

.back-button {
  text-decoration: none;
  color: var(--color-danger);
}

.table-container {
  overflow-x: auto;
}

.table-container {
  /* width: 2700px; */
  margin-top: 0px;
  max-height: 700px; /* Set a maximum height for the scrollable area */
  overflow: auto; /* Enable vertical scrolling when the content exceeds the container height */
  /* border-radius: var(--card-border-radius); */
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

table {
  border-collapse: collapse;
  background-color: #fff;
}
th, td {
  font-family: cursive, sans-serif;
  font-size: 15px;
  padding: 8px 20px;
  text-align: left;
}

thead {
  background-color: var(--color-dark);
  color: var(--color-white);
}

tbody tr:nth-child(odd) {
  /* text-align: left !important; */
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
  color: var(--color-danger);
}

a:hover {
  text-decoration: underline;
}
